body{
    text-align: center;
    margin:0px;
}



.top-container{
    
    background-color: #E4F9F5;
    position:relative;
    padding-top: 6.25rem;
}

.top_cloud{
    position:absolute;
    right:18.75rem;
    top:3.125rem;
}

.bottom_cloud{
    position:absolute;
    left:18.75rem;
    bottom:18.75rem;    
}
h1{
    margin:3.125rem auto 0px auto;
    font-family: 'Beau Rivage', cursive;
    font-size: 5.625rem;
}
.sub_heading{
    font-family: 'Gruppo', cursive;
    font-size: 2.5rem;
}